@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    padding: 0;
}

.login-container h1 {
    align-self: center;
}

.login-center {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    padding: 1rem 0.5rem;
}

.login-container {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

#username,
#password,
.login-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.login-label,
.login-btn {
  margin-top: 3rem;
}

.login-btn {
    padding: 0.6rem;
    width: 70%;
    align-self: center;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    border:none;
    color:#000;
}
.login-btn:hover{
    background-color: rgb(215, 215, 215);    
    color:#000;
    transition:0.6s;
    cursor: pointer;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.missing-link a{
    color: white;
}
