.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(156, 156, 156, 0.3);
    backdrop-filter: blur(15px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modal-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.title-close-btn {
    display: flex;
    justify-content: flex-end;
}

.title-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modal-container .body {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-container .body-client {
    flex: 50% 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
}

.modal-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.body svg{
    height:200px;
    width:auto;
    margin-top:20px;
}