@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.parties,
.clients, 
.salespersons{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    font-size:2rem;
    font-family: "Lato", sans-serif;
}
.layout-container{
    display: flex;
}

.party-table{
    flex: 1;
}