@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.parties,
.clients, 
.salespersons{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    font-size:2rem;
    font-family: "Lato", sans-serif;
}
.layout-container{
    display: flex;
}

.party-table{
    flex: 1;
    padding: 50px 100px 50px 100px;
    font-size: 1rem;
}


.table.table-striped{
    text-align: center;
    vertical-align: middle;
}

.table.table-striped th,
.table.table-striped td{
    padding: 15px;
}

.dashboard-message{
    flex: 1;
    margin-top: 75px;
    margin-left: 225px;
}

.party-first-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.party-first-line h1{
    margin-left: 10px;
}